.env
__pycache__/
*.pyc
.pytest_cache/
.venv/
venv/
.mypy_cache/
.coverage
dist/
build/
*.log

# Terraform local files
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
