fastapi==0.111.0
uvicorn[standard]==0.30.0
sqlalchemy==2.0.30
pymysql==1.1.0
boto3==1.34.0
python-dotenv==1.0.1
pydantic-settings==2.2.1
python-multipart==0.0.9
prometheus-fastapi-instrumentator==7.0.0
pytest==8.2.0
httpx==0.27.0
